[Desktop Entry]
Type=Application
Name=ROTTEN
Comment=An enhanced port of Rise of the Triad based on SDL2
Icon=rott
TryExec=rotten
Exec=rotten
Categories=Game;ActionGame;
Keywords=first;person;shooter;fps;3d;rott;rotten;
